/****************************
dl, dt, dd tags Section
****************************/
body {
    padding: 15px;
    // color: $red;
    // background-color: white;
    color: white;
    font: Belleza;
 }

//  h1 {
//     color: darkslategray;
//     font-weight: bold;
//     font-family: arial;
//  }
 
//  dt {
//     color: darkslategray;
//     font-weight: bold;
//     font-family: arial;
//  }

//  dd {
//     color: black;
//     font-family: arial;
//  }